<script lang="ts" setup>
import { ref } from "vue";
const num = ref(0);
</script>

<template>
  <v-cantainer>
    <v-row class="topdown">
      <v-text-field
        v-model.number="num"
        label="Please input Number"
        :rules="[(v) => !!v || 'Number is not Empty!!']"
        required
      ></v-text-field>
    </v-row>
    <v-row>
      <v-col col="12" md="1" v-for="(n, index) of num" :key="index">
        {{ n }}
      </v-col>
    </v-row>
  </v-cantainer>
</template>

<style scoped>
.topdown {
  margin-top: 1px;
}
</style>
