<script setup lang="ts">
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
import { useCounterStore } from "@/stores/counter";
const useCounter = useCounterStore();
</script>
<template>
  <v-container>
    <v-row>
      <v-col><FirstComponent /></v-col>
      <v-col><SecondComponent /></v-col>
    </v-row>
    <v-row>
      <v-col><v-btn @click="useCounter.increment">INCREMENT</v-btn></v-col>
      <v-col><v-btn @click="useCounter.decrease">DECREASE</v-btn></v-col>
    </v-row>
  </v-container>
</template>
