<script setup lang="ts">
import { ref } from "vue";

let imgShow = ref("feeling_imgs/smile.png");
let emotion = ref("Smile");
const isYellow1 = ref(true);
const isYellow2 = ref(false);
const isYellow3 = ref(false);
const isYellow4 = ref(false);
const isYellow5 = ref(false);
const isYellow6 = ref(false);

let changeEmo = (emo: string) => {
  console.log(emo);
  if (emo == "smile") {
    emotion.value = "Smile";
    imgShow.value = "feeling_imgs/smile.png";
    isYellow1.value = !isYellow1.value;
    isYellow2.value = false;
    isYellow3.value = false;
    isYellow4.value = false;
    isYellow5.value = false;
    isYellow6.value = false;
  } else if (emo == "shocked") {
    emotion.value = "Shocked";
    imgShow.value = "feeling_imgs/shocked.png";
    isYellow2.value = !isYellow2.value;
    isYellow1.value = false;
    isYellow3.value = false;
    isYellow4.value = false;
    isYellow5.value = false;
    isYellow6.value = false;
    return emotion;
  } else if (emo == "pain") {
    emotion.value = "Pain";
    imgShow.value = "feeling_imgs/pain.png";
    isYellow3.value = !isYellow3.value;
    isYellow1.value = false;
    isYellow2.value = false;
    isYellow4.value = false;
    isYellow5.value = false;
    isYellow6.value = false;
  } else if (emo == "excited") {
    emotion.value = "Excited";
    imgShow.value = "feeling_imgs/excited.png";
    isYellow4.value = !isYellow4.value;
    isYellow1.value = false;
    isYellow2.value = false;
    isYellow3.value = false;
    isYellow5.value = false;
    isYellow6.value = false;
  } else if (emo == "cute") {
    emotion.value = "Cute";
    imgShow.value = "feeling_imgs/cute.png";
    isYellow5.value = !isYellow5.value;
    isYellow1.value = false;
    isYellow2.value = false;
    isYellow3.value = false;
    isYellow4.value = false;
    isYellow6.value = false;
  } else if (emo == "angry") {
    emotion.value = "Angry";
    imgShow.value = "feeling_imgs/angry.png";
    isYellow6.value = !isYellow6.value;
    isYellow1.value = false;
    isYellow2.value = false;
    isYellow3.value = false;
    isYellow4.value = false;
    isYellow5.value = false;
  }
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-img
          class="bg-white"
          width="400"
          :aspect-ratio="1"
          :src="imgShow"
        ></v-img>
      </v-col>

      <v-col>
        <div class="txtEmotion">{{ emotion }}</div>
        <v-btn
          class="btnSpacer"
          :class="{ yellow: isYellow6 }"
          @click="changeEmo('angry')"
          block
          >ANGRY</v-btn
        >
        <v-btn
          class="btnSpacer"
          :class="{ yellow: isYellow5 }"
          @click="changeEmo('cute')"
          block
          >CUTE</v-btn
        >
        <v-btn
          class="btnSpacer"
          :class="{ yellow: isYellow4 }"
          @click="changeEmo('excited')"
          block
          >EXCITED</v-btn
        >
        <v-btn
          class="btnSpacer"
          :class="{ yellow: isYellow3 }"
          @click="changeEmo('pain')"
          block
          >PAIN</v-btn
        >
        <v-btn
          class="btnSpacer"
          :class="{ yellow: isYellow2 }"
          @click="changeEmo('shocked')"
          block
          >SHOCKED</v-btn
        >
        <v-btn
          class="btnSpacer"
          :class="{ yellow: isYellow1 }"
          @click="changeEmo('smile')"
          block
          >SMILE</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.yellow {
  background-color: yellow;
}

.txtEmotion {
  text-align: center;
  font-size: 30px;
}

.btnSpacer {
  margin-top: 20px;
}
</style>
