<script lang="ts" setup>
import { ref, reactive } from "vue";
//Create class as Objects
class Products {
  id: number;
  name: string;
  price: number;

  constructor(id: number, name: string, price: number) {
    this.id = id;
    this.name = name;
    this.price = price;
  }
}
const prodList = reactive<Products[]>([]);
const sum = ref(0);

//function Add & SumTotal
const addProducts = (prod: Products) => {
  prodList.push(prod);
  sum.value += prod.price;
};
const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
</script>
<template>
  <v-container>
    <v-col>
      <v-row>
        <v-col>
          <v-row class="maxHgh overflow-y-auto">
            <v-col v-for="(item, index) of products" :key="index">
              <v-card class="mx-auto, card" max-width="344" variant="outlined">
                <v-card-item v-col>
                  <div>
                    <div class="text-h6 mb-1">{{ item.name }}</div>
                    <div class="h-3">{{ item.price }}</div>
                  </div>
                  <v-card-actions class="btnCenter">
                    <v-btn variant="outlined" @click="addProducts(item)">
                      ADD
                    </v-btn>
                  </v-card-actions>
                </v-card-item>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
        <v-col>
          <v-table class="maxHgh2 overflow-y-auto">
            <thead>
              <tr>
                <th>id</th>
                <th>name</th>
                <th>price</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="prodList.length == 0">
                <td colspan="3" class="noData">NO Data</td>
              </tr>
              <tr v-else v-for="(item, index) of prodList" :key="index">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
              </tr>
            </tbody>
          </v-table>
          <div class="sum text-h3 ma-10">Sum: {{ sum }}</div>
        </v-col>
      </v-row>
    </v-col>
  </v-container>
</template>

<style scoped>
.maxHgh {
  max-height: 600px;
}

.maxHgh2 {
  max-height: 460px;
}
.card {
  text-align: center;
  width: 160px;
  height: 125px;
}

.btnCenter {
  text-align: center;
  margin-top: -7px;
  margin-left: 22px;
}

.noData {
  padding-top: 15px;
  text-align: center;
  font-size: medium;
  font-weight: 500;
}

.sum {
  position: fixed;
  bottom: 40px;
}
</style>
