<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const useCounter = useCounterStore();
</script>
<template>
  <div>Second Component</div>
  <div>{{ useCounter.count * 2 }}</div>
</template>
